<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

    <h2 class="footer-heading">Contributing</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <p>If you would like to contribute a <a href="https://jojonaloha.github.io/dearpresidenttrump/letters/">Letter to
          President Trump</a>, you can write a post and submit a Pull Request onGitHub.</p>
      </div>
    </div>

  </div>

</footer>
